# Java & Backend

*.class
*.jar
*.war
*.ear
*.nar

# Gradle

.gradle/
build/
!**/gradle/wrapper/gradle-wrapper.jar

# IDE

bin/ 
tmp/
.idea/
*.iml
*.ipr
*.iws
out/
.idea_modules/
.DS_Store


# Frontend 

